#myName {
    text-decoration: underline;
    font: large;
    font-family: 'Staatliches', cursive;
}

#myProfilePic {
    width: 200px;
    height: 250px;
    border-radius: 50%;
    margin: 25% auto;
}

.aboutme {
    text-align: left;
    list-style-type: none;
    position: relative;
}

.aboutme:before {
    content: '';
    background: #555;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

.aboutme li {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #fff;
}

.aboutme li:before {
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}

.summary {
    text-align: left;
    list-style-type: none;
    position: relative;
}

.summary:before {
    content: '';
    background: #555;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

.summary li {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #fff;
}

.summary li:before {
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}

.work-timeline {
    text-align: left;
    list-style-type: none;
    position: relative;
}

.work-timeline:before {
    content: '';
    background: #555;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

.work-timeline li {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #fff;
}

.work-timeline li h5 {
    background-color: #000;
    padding: 5px 0 5px 20px;
    color: #fff;
    font-size: 15px;
}

.work-timeline li:before {
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}

.education-timeline {
    text-align: left;
    list-style-type: none;
    position: relative;
}

.education-timeline:before {
    content: '';
    background: #555;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

.education-timeline li {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #fff;
}

.education-timeline li h5 {
    background-color: #000;
    padding: 5px 0 5px 20px;
    color: #fff;
    font-size: 15px;
}

.education-timeline li:before {
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}

.contactme {
    text-align: left;
}

.contactme {
    text-align: left;
    list-style-type: none;
    position: relative;
}

.contactme:before {
    content: '';
    background: #555;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

.contactme li {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #fff;
}

.contactme li h5 {
    background-color: #000;
    padding: 5px 0 5px 20px;
    color: #fff;
    font-size: 15px;
}

.contactme li:before {
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}