body {
    background-color: darkcyan;
}
.text {
    font-size: 18px;
    background: lavender;
    margin-top: 150px;
    margin-right: 160px;
    margin-left: 160px;
    margin-bottom: 150px;
    padding-left: 30px;
    padding-right: 30px;
}
    

.header {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 5px;
    padding-right: 100px;
}
#colorist {
    grid-column: 1 / span 1;
    font-size: 20px;
    color: lavender;
    background-color: darkslategrey;
    padding: 5px;
    margin-right: 30px;
    margin-bottom: -3%;
    margin-left: 160px;
    text-align: center;
}
.homeButton {
    width: 90px;
    height: 40px;
    border-radius: 3%;
    margin-top: 20%;
    margin-bottom: 10%;
    background-color: darkslategrey;
    color: white;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
}
.homeButton1:hover {
    color: rgb(188,188,188);
}
.aboutButton {
    width: 90px;
    height: 40px;
    border-radius: 3%;
    margin-top: 20%;
    margin-bottom: 10%;
    background-color: darkslategrey;
    color: white;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
}
.aboutButton1:hover {
    color: rgb(188,188,188);
}
.hairButton {
    width: 110px;
    height: 40px;
    border-radius: 3%;
    margin-top: 20%;
    margin-bottom: 10%;
    background-color: darkslategrey;
    color: lavender;
    text-align: center;
}
.hairButton1:hover {
    color: rgb(188,188,188);
}
.newsButton {
    width: 90px;
    height: 40px;
    border-radius: 3%;
    margin-top: 20%;
    margin-bottom: 10%;
    background-color: darkslategrey;
    color: lavender;
    text-align: center;
}
.newsButton1:hover {
    color: rgb(188,188,188);
}
.contactButton {
    width: 90px;
    height: 40px;
    border-radius: 3%;
    margin-top: 20%;
    margin-bottom: 10%;
    background-color: darkslategrey;
    color: lavender;
    text-align: center;
}
.contactButton1:hover {
    color: rgb(188,188,188);
}




.footer {
    width: 400px; height: 40px;
    padding-left: 500px;
    font-size: 15px;
    color: lavender;
    text-align: center;
    
}
.text-footer {
    text-align: center;
    font-size: 15px;
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-facebook {
    background: #55ACEE;
    color: white;
  }
  .fa-google {
    background: #55ACEE;
    color: white;
  }
  .fa-pinterest {
    background: #55ACEE;
    color: white;
  }
  

   