body {
    background-color: darkcyan;
}

.header {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 5px;
    padding-right: 100px;
}
#colorist {
    grid-column: 1 / span 1;
    font-size: 20px;
    color: lavender;
    background-color: darkslategrey;
    padding: 5px;
    margin-right: 30px;
    margin-bottom: -3%;
    margin-left: 160px;
    text-align: center;
}
.homeButton {
    width: 90px;
    height: 40px;
    border-radius: 3%;
    margin-top: 20%;
    margin-bottom: 10%;
    background-color: darkslategrey;
    color: white;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
}
.homeButton1:hover {
    color: rgb(188,188,188);
}
.aboutButton {
    width: 90px;
    height: 40px;
    border-radius: 3%;
    margin-top: 20%;
    margin-bottom: 10%;
    background-color: darkslategrey;
    color: white;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
}
.aboutButton1:hover {
    color: rgb(188,188,188);
}
.hairButton {
    width: 110px;
    height: 40px;
    border-radius: 3%;
    margin-top: 20%;
    margin-bottom: 10%;
    background-color: darkslategrey;
    color: lavender;
    text-align: center;
}
.hairButton1:hover {
    color: rgb(188,188,188);
}
.newsButton {
    width: 90px;
    height: 40px;
    border-radius: 3%;
    margin-top: 20%;
    margin-bottom: 10%;
    background-color: darkslategrey;
    color: lavender;
    text-align: center;
}
.newsButton1:hover {
    color: rgb(188,188,188);
}
.contactButton {
    width: 90px;
    height: 40px;
    border-radius: 3%;
    margin-top: 20%;
    margin-bottom: 10%;
    background-color: darkslategrey;
    color: lavender;
    text-align: center;
}
.contactButton1:hover {
    color: rgb(188,188,188);
}

.main {
    background-color:  darkgrey;
    padding: 100px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    width:850px;
    height:140px;
    padding: 80px;
    margin: 0 auto;
    border-style: solid;
    border: solid 2px darkcyan;
    border-radius: 2%;
    background-color: azure; 
    align-content: center;
    vertical-align: middle;
}
#main-pic {
    width: 250px;
    height: 250px;
    margin: 5% auto;
    vertical-align: middle;
}
#phrase {
    font-family: 'Playball', cursive;
    font-size: 35px;
    vertical-align: middle;
    margin-left: 70px;
    margin-top: 100px;
}
.hairstyles-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;  
    margin-top: 100px;
    margin-left: 60px;
}

#img1 {
    width: 200px;
    height: 200px;
    border: solid darkcyan;
    border-width: thick;
    border-radius: 3%;
    -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}
#img2 {
    width: 200px;
    height: 200px;
    border: solid darkcyan;
    border-width: thick;
    border-radius: 3%;
    -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}
#img3 {
    width: 200px;
    height: 200px;
    border: solid darkcyan;
    border-width: thick;
    border-radius: 3%;
    -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}
#img4 {
    width: 200px;
    height: 200px;
    border: solid darkcyan;
    border-width: thick;
    border-radius: 3%;
    -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}

.feature-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 10px;
    margin-left: 70px;
}
#item1 {
    width: 200px;
    height: 300px;
}
#item2 {
    width: 200px;
    height: 300px;
}
#item3 {
    width: 200px;
    height: 300px;
}
#item4 {
    width: 200px;
    height: 300px;
}

.more-feature {
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto;
    grid-gap: 20px;
}
.section1 {
    grid-row: 1 / span 3;
    width: 450px; height: 520px;
    border: solid darkcyan;
    border-width: thick;
    border-radius: 2%;
    background-color: lavender;
    margin-left: 70px;
    padding-left: 10px;
}
.section2 {
    width: 500px; height: 200px;
    border: solid darkcyan;
    border-width: thick;
    border-radius: 2%;
    color: lavender;
    background-color: dimgrey;
    margin-right: 25px;
    padding-left: 10px;
}

.section3 {
    display: grid;
    grid-template-columns: auto auto;
    width: 500px; height: 200px;
    border: solid darkcyan;
    border-width: thick;
    border-radius: 2%;
    color: lavender;
    background-color: dimgrey;
    margin-right: 25px;
    padding-left: 10px;
}
#img5 {
    width: 200px; height: 200px;
}
#help {
    width: 300px; height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}
#title1 {
    width: 110px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    color: lavender;
    background: darkslategrey;
    margin-top: -8%;
}
#title1-text {
    padding-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
}
#girl {
    grid-area: 1/1/2/2;
    width: 100px; height: 100px;
}
#moreText {
    grid-area: 1/2/2/4;
}
#longText {
    grid-area: 2/1/5/4;
}
#title2 {
    width: 110px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    color: lavender;
    background: darkslategrey;
    margin-top: -8%;
}
#title2-text {
    padding-top: 30px;
}


.footer {
    width: 400px; height: 40px;
    padding-left: 500px;
    font-size: 15px;
    color: lavender;
    text-align: center;
    
}
.text-footer {
    text-align: center;
    font-size: 15px;
}